# Don't track content of these folders #
########################################
*/1_project_management/*
*/2_ethics_governance/*
*/*raw_data/*
*/daily_data/*
*/PaymentTestData/*

3_3_1_raw_data/
3_3_2_processed_data/
3_3_3_data_analysis/run1_dataExplore.ipynb
daily_data/
PaymentTestData/
.venv
3_3_4_outputs/EDA

# Ignore all logs #
###################
*.log

# Ignore pickled data
#####################
*.pkl

# credentials #
###############
*.env
*secret*

# Ignore checkpoints #
######################
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# R Stuff #
###########
*.Rproj.user
*.Rhistory
*.DS_Store
.Rproj.user

# Ignore large files #
######################
*.zip
*.pkl
*.gz
